html {
    background: #1e1e1e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b7b7b7;
    text-align: center;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 75%;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

h4 {
    font-size: 12px;
}

.pay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #441984;
    width: 100%;
    height: 100%;
    z-index: 3;
    align-items: center;
    justify-content: center;
}

.pay-title {
    position: relative;
    z-index: 69;
    margin-top: 5px;
    margin-bottom: 0;
    color: #fff;
    width: 100%;
    font-size: 20px;
}

.pay-subtitle {
    position: relative;
    z-index: 69;
    margin: 5px;
}

.pay-title>b>u {
    font-size: 25px;
    background: linear-gradient(30deg, #ff5f5f, #876ab6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.payment-cont {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    gap: 5px;
}

.pay-now {
    position: relative;
    z-index: 69;
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 15px;
    padding: 10px 15px;
    transition: 300ms;
}

.pay-now>span {
    background: #492185c1;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    transition: 300ms;
    animation: pulse-chip 1.5s infinite;
}

@keyframes pulse-chip {
    0% {
        box-shadow: 0 0 0 0 #6f41b5ad;
    }

    70% {
        box-shadow: 0 0 0 5px #da674400;
    }

    100% {
        box-shadow: 0 0 0 0 #da674400;
    }
}

.pay-now:hover {
    background-position: right center;
    background-size: 200% auto;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px #da674400;
    }

    100% {
        box-shadow: 0 0 0 0 #da674400;
    }
}

.pay-screen-buttons {
    z-index: 69;
    align-items: center;
    margin: auto;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    display: flex;
    font-size: 12px;
    width: 100px;
    cursor: pointer;
    transition: 300ms;
    position: fixed;
    justify-content: center;
    font-weight: bold;
}

.nopay {
    padding: 2px;
    left: 108px;
    bottom: 10px;
    background-image: linear-gradient(144deg, #Af40ff, #5b42f3 50%, #00ddeb);
}

.nopay:active,
.nopay:hover {
    outline: 0;
}

.nopay span {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-weight: bold;
    background: #05062d;
    padding: 4px 6px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.nopay:hover span {
    background: none;
}

.nopay:active {
    transform: scale(0.9);
}

.login {
    padding: 5px;
    left: 50px;
    background-image: linear-gradient(144deg, #13ca1c, #12ba23 50%, #09c413);
}

.login:hover {
    transform: scale(1.1);
}

.login:active {
    transform: scale(0.8);
}

.pay>h4 {
    position: relative;
    z-index: 69;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
    margin: 7px;
}

.square-pay {
    background: #36126b;
    position: fixed;
    rotate: 45deg;
    width: 200px;
    height: 200px;
    top: -100px;
    left: -45px;
    box-shadow: 0 0px 50px 0px #170334;
}

.circle-pay {
    background: #36126b;
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 150px;
    left: 150px;
    box-shadow: 0 0px 50px 0px #170334;
}

.injection {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    z-index: 2;
    opacity: 0;
}

.config {
    position: absolute;
    display: none;
    left: 5px;
    top: 4px;
    width: 300px;
    height: 235px;
    z-index: 3;
    background: #0000007e;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: solid #fff 2px;
    overflow: hidden;
}

.config-button {
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: #525252;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #525252;
    color: #fff;
    transition: 200ms;
    cursor: pointer;
}

.config-button:active {
    background: #404040;
}

.config-area {
    height: 80%;
    width: 100%;
    bottom: 0px;
    position: absolute;
    display: block;
}

.kgpt-config-button {
    background: linear-gradient(#525252, #52525200);
    float: left;
    border-bottom-left-radius: 15px;
}

.kgpt-config {
    transform: translateX(-500px);
    transition: 200ms;
}

.openai-config-button {
    background: transparent;
    float: right;
    border-bottom-right-radius: 15px;
}

.openai-config {
    transform: translateX(500px);
    transition: 200ms;
}

.openai {
    margin-top: 5px;
    margin-left: 20px;
    float: left;
    width: 260px;
}

.apikey {
    float: left;
}

.apikey>h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.openaikeyinput {
    position: relative;
    display: inline-block;
    height: 32px;
    background-color: #f5f5f5;
    color: #242424;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 10px 20px -18px;
    transition: 200ms;
}

.openaikeyinput:focus {
    border-bottom: 2px solid #9d86c3;
}

.openaikeyinput:hover {
    outline: 1px solid lightgrey;
}

.cache {
    float: right;
}

.cache>h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.model {
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}

.model>h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.models {
    height: 32px;
    width: 260px;
    border-radius: 5px;
    padding: 2px;
}

.options {
    height: 32px;
}

.minitext {
    font-size: 10px;
    margin: 0;
    color: #9d86c3;
}

.togglechoice {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.togglechoice>h3 {
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.minitext:hover+.tooltiptext {
    animation: fadein 500ms;
    opacity: 1;
    z-index: 101;
}

.highlighttext .tooltiptext {
    top: 30px;
}

.importtext .tooltiptext {
    top: 95px;
}

.tooltiptext {
    opacity: 0;
    width: 275px;
    background-color: black;
    text-align: center;
    padding: 4px;
    padding-bottom: 5px;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    transition: 100ms;
    animation: fadeout 250ms;
    left: 7px;
    border: 1.5px solid #937db3;
    font-size: 10px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.chkbox {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 3px solid #ffffff00;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
}

.chkbox div {
    width: 60px;
    height: 60px;
    top: -25;
    position: relative;
    z-index: 100;
}

.chkbox input[type=checkbox]:checked+div {
    background-color: #fff;
}

.chkbox input[type=checkbox] {
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

.save {
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
    background-color: #826ca4;
    color: #ffffff;
    font-weight: bold;
    transition: 500ms;
    position: fixed;
    top: 200px;
    left: 20px;
}

.save:hover {
    background-color: #8874ac;
    box-shadow: 0 0 20px #c1b7d450;
}

.save:active {
    background-color: #542c84;
    transition: 250ms;
    box-shadow: none;
}

.cancel {
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
    background-color: #a46c6c;
    color: #ffffff;
    font-weight: bold;
    transition: 500ms;
    position: fixed;
    top: 200px;
    right: 20px;
}

.cancel:hover {
    background-color: #ac7474;
    box-shadow: 0 0 20px #c1b7d450;
}

.cancel:active {
    background-color: #842c2c;
    transition: 250ms;
    box-shadow: none;
}

.text>* {
    margin: 0;
}

#KahootGPT {
    position: relative;
    cursor: pointer;
    color: #b7b7b7;
    text-decoration: none;
    z-index: 2;
}

.subtitle {
    color: #E8E8E8;
}

.subtitle>a {
    color: #9d86c3;
    text-decoration: none;
    transition: 100ms;
}

.subtitle>a:hover {
    text-decoration: underline;
}

.subtitle>a:active {
    color: #8871ad;
}

.header {
    position: fixed;
    left: 0px;
    top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    margin-left: 10px;
    fill: white;
    cursor: pointer;
    transition: 200ms;
}

.info:hover {
    fill: lightgray;
}

.invis {
    border: none;
    background: none;
    width: 35px;
}

.settings {
    margin-right: 10px;
    fill: white;
    cursor: pointer;
    transition: 200ms;
}

.settings:hover {
    fill: lightgray;
}

.container {
    width: 300px;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.fake {
    width: 85px !important;
    position: relative !important;
    margin-left: 12px !important;
    margin-bottom: 5px !important;
}

.cover {
    position: fixed;
    top: 36px;
    left: 23px;
    width: 108px;
    height: 93px;
    background: #0000007a;
    border-radius: 20px;
    padding: 0px;
    padding-top: 15px;
    color: #fff;
    border: solid 1px #fff;
    font-weight: bold;
}

.autoclick {
    float: left;
    width: 100px;
    margin: auto;
    margin-left: 20px;
}

.toggle {
    display: grid;
    align-items: center;
    background-color: #525252;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 300ms;
}

.checkbox {
    display: grid;
    align-items: center;
    border: none;
    margin: auto;
    padding: none;
    background-color: #525252;
    box-shadow: 0 4px 4px -2px #000;
    width: 90;
    height: 90%;
    border-radius: 50%;
    cursor: pointer;
}

.checkbox:hover .power-icon {
    fill: #8871ad;
    filter: drop-shadow(0px 0px 3px #8871ade7);
}

.power-icon {
    width: 19px;
    height: 19px;
    align-items: center;
    margin: auto;
    fill: #b7b7b7;
    transition: 200ms;
}

#autoclick-status {
    font-weight: 50rem;
    font-size: x-small;
}

.control {
    float: right;
    width: 175px;
}

.btn {
    width: 125px;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 25px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #525252;
    color: #fff;
    transition: 200ms;
}

.btn:active {
    background: #404040;
}

.btn .icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    transform: translateX(-32px);
}

.btn:hover .icon {
    transform: translateY(0px);
}

.btn .text {
    padding-left: 13px;
}

.btn:hover .text {
    transition: 300ms;
    opacity: 0;
}

.btn:active .icon {
    transform: scale(0.85);
}

.logs {
    height: 56px;
    width: 160px;
    margin-left: 5px;
    border: 1px solid #2b2d31;
    border-radius: 5px;
    background: #313338;
}

.console {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    height: 56px;
    width: 153px;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
    overflow-y: scroll;
}

.console::-webkit-scrollbar {
    width: 4px;
}

.console::-webkit-scrollbar-track {
    background: transparent;
}

.console::-webkit-scrollbar-thumb {
    background: #1a1b1e;
    border-radius: 2px;
}

.console span {
    text-align: left;
}

.entry {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid #3b3d44;
}

.error {
    color: #f04747;
}

.log {
    color: #00b0f4;
}

.debug {
    color: #72767d;
}

.verb {
    color: #dbdee1;
}

.footer {
    height: 45px;
    width: 300px;
    background: #525252;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

.footer:hover {
    background: #9d86c3;
}

.footer:hover .socials {
    box-shadow: none;
}

.socials {
    background: #525252;
    box-shadow: 0 4px 4px -2px #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    border-radius: 20px;
    height: 35px;
    width: 290px;
    transition: 200ms;
}

.socials>a:hover {
    animation: rotate 250ms;
    transform: rotateZ(15deg) scale(1.25);
}

.social {
    cursor: pointer;
}

.social:not(:hover) {
    animation: rotate 250ms reverse;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(15deg) scale(1.25);
    }
}

.feeter {
    padding-top: 5px;
    bottom: 0px;
    font-size: 15px;
}

#privacy {
    position: relative;
    left: -78px;
    padding: 5px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

#privacy:hover {
    text-decoration: underline;
}

.discord {
    background: #f6f6f6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 98px;
    text-align: center;
    width: 120px;
    position: fixed;
    z-index: 2;
    color: #5865F2;
    font-weight: bold;
    text-decoration: none;
    transition: 1s;
}

.discord:hover {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #6873f3;
}

.discord:active {
    background: #99aab5;
    color: #3f4ef4;
}

.discord:hover>* {
    transform: scale(0.5, 0.5) translateY(0px);
    opacity: 1;
}

.discord-widget {
    border: solid 2px #fff;
    border-radius: 20px;
    z-index: 420;
    transform: scale(0.1, 0.1) translateY(1600px);
    opacity: 0;
    position: fixed;
    top: -104px;
    left: -118px;
    transition: 500ms ease-in-out;
}

#terms {
    position: relative;
    left: 78px;
    padding: 5px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

#terms:hover {
    transform: scaleX(1.15);
    text-decoration: underline;
}