html {
    background: #1e1e1e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b7b7b7;
    text-align: center;
}

h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.injection {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    z-index: 2;
}

.config {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #0000007e;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    background-color: #754bb8ad;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 5px 10px 0px #542a97ad;
    justify-content: space-between;
}

.top>h1 {
    width: 50%;
    margin: 0;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
}

.close {
    fill: white;
    float: right;
    position: relative;
    padding-top: 10px;
    transition: 300ms;
}

.close:hover {
    fill: #cc9999;
}

.openai {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.openai>h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.openaikeyinput {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    min-height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 10px 20px -18px;
    transition: 200ms;
}

.openaikeyinput:focus {
    border-bottom: 2px solid #9d86c3;
}

.openaikeyinput:hover {
    outline: 1px solid lightgrey;
}

.cache {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.cache>h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.store {
    margin-top: 7px;
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 3px solid #ffffff00;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
}

.store div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: relative;
    transform: rotateZ(45deg);
    z-index: 100;
}

.store input[type=checkbox]:checked+div {
    left: -10px;
    top: -10px;
}

.store input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

.save {
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
    background-color: #826ca4;
    color: #ffffff;
    font-weight: bold;
    transition: 500ms;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.save:hover {
    background-color: #8874ac;
    box-shadow: 0 0 20px #c1b7d450;
}

.save:active {
    background-color: #542c84;
    transition: 250ms;
    box-shadow: none;
}

.text>* {
    margin: 0;
}

#KahootGPT {
    position: relative;
    cursor: pointer;
    color: #b7b7b7;
    text-decoration: none;
    z-index: 1;
}

.subtitle {
    color: #E8E8E8;
}

.subtitle>a {
    color: #9d86c3;
    text-decoration: none;
    transition: 100ms;
}

.subtitle>a:hover {
    text-decoration: underline;
}

.subtitle>a:active {
    color: #8871ad;
}

.header {
    position: fixed;
    left: 0px;
    top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    margin-left: 10px;
    fill: white;
    cursor: pointer;
    transition: 200ms;
}

.info:hover {
    fill: lightgray;
}

.settings {
    margin-right: 10px;
    fill: white;
    cursor: pointer;
    transition: 200ms;
}

.settings:hover {
    fill: lightgray;
}

.container {
    width: 300px;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.autoclick {
    width: 100px;
    margin: auto;
}

.toggle {
    display: grid;
    align-items: center;
    background-color: #525252;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 300ms;
}

.checkbox {
    display: grid;
    align-items: center;
    border: none;
    margin: auto;
    padding: none;
    background-color: #525252;
    box-shadow: 0 4px 4px -2px #000;
    width: 90;
    height: 90%;
    border-radius: 50%;
    cursor: pointer;
}

.power-icon {
    width: 19px;
    height: 19px;
    align-items: center;
    margin: auto;
    fill: #b7b7b7;
    transition: 300ms;
}

#autoclick-status {
    font-weight: 50rem;
    font-size: x-small;
}

.question-cont {
    border-radius: 20px;
    width: 250px;
    height: 35px;
    background-color: white;
    margin: auto;
    box-shadow: 0 2px 10px -2px #fff;
    transition: 500ms;
    margin-bottom: 15px;
}

.question-cont:hover {
    box-shadow: none;
}

.question {
    transform: translateY(-29%);
    margin: 0;
    outline: none;
    border: none;
    padding: 10px;
    width: 75%;
    height: 100%;
    background: transparent;
}

.question::-webkit-scrollbar {
    width: 0px;
}

.search-icon {
    fill: #9d86c3;
    padding-top: 2px;
    cursor: pointer;
    transition: 200ms;
}

.search-icon:hover {
    scale: 1.15;
}

.options {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 145px 145px;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

.option {
    border-radius: 15px;
    transition: 450ms;
}

.option:hover {
    box-shadow: none;
}

.triangle {
    background-color: #ff3355;
    box-shadow: 0 5px 10px 0px #ff3355;
}

.rhombus {
    background-color: #45a3e5;
    box-shadow: 0 5px 10px 0px #45a3e5;
}

.circle {
    background-color: #eb670f;
    box-shadow: 0 5px 10px 0px #eb670f;
}

.square {
    background-color: #66bf39;
    box-shadow: 0 5px 10px 0px #66bf39;
}

.answer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: 200ms;
}

.answer::-webkit-scrollbar {
    width: 0px;
}

.answer::placeholder {
    color: whitesmoke;
}

.answer:active {
    border: 5px white;
}

.clear {
    font-family: monospace, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    font-size: medium;
    background: #9d86c3;
    color: white;
    border-radius: 7px;
    border: none;
    outline: none;
    width: 100px;
    margin: 15px;
    box-shadow: 0 4px 10px -2px #9d86c3;
    transition: 150ms;
}

.clear:hover {
    box-shadow: none;
}

.clear:active {
    background: #846ea7;
}

.footer {
    height: 45px;
    width: 100%;
    background: #525252;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

.socials {
    background: #525252;
    box-shadow: 0 4px 4px -2px #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    border-radius: 20px;
    height: 35px;
    width: 290px;
    transition: 200ms;
}

.socials:hover {
    box-shadow: none;
}

.social {
    cursor: pointer;
}