html {
    background: #1e1e1e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b7b7b7;
    text-align: center;
}

html::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 75%;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

h4 {
    font-size: 12px;
}

.pay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #441984;
    width: 100%;
    height: 100%;
    z-index: 3;
    align-items: center;
    justify-content: center;
}

.pay-title {
    margin-top: 170px;
    margin-bottom: 0;
    color: #fff;
    width: 100%;
    font-size: 20px;
}

.pay-subtitle {
    margin: 5px;
}

.pay-title>b>u {
    font-size: 25px;
    background: linear-gradient(30deg, #ff5f5f, #876ab6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pay-now {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 15px;
    padding: 10px 15px;
    transition: 300ms;
}

.pay-now>span {
    background: #492185c1;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    transition: 300ms;
    animation: pulse-chip 1.5s infinite;
}

@keyframes pulse-chip {
    0% {
        box-shadow: 0 0 0 0 #6f41b5ad;
    }

    70% {
        box-shadow: 0 0 0 5px #da674400;
    }

    100% {
        box-shadow: 0 0 0 0 #da674400;
    }
}

.pay-now:hover {
    background-position: right center;
    background-size: 200% auto;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px #da674400;
    }

    100% {
        box-shadow: 0 0 0 0 #da674400;
    }
}

.nopay {
    z-index: 69;
    left: 98px;
    align-items: center;
    background-image: linear-gradient(144deg, #Af40ff, #5b42f3 50%, #00ddeb);
    margin: auto;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    display: flex;
    font-size: 18px;
    width: 120px;
    padding: 2px;
    cursor: pointer;
    transition: 300ms;
    position: fixed;
    justify-content: center;
}

.nopay:active,
.nopay:hover {
    outline: 0;
}

.nopay span {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-weight: bold;
    background: #05062d;
    padding: 4px 6px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.nopay:hover span {
    background: none;
}

.nopay:active {
    transform: scale(0.9);
}

.pay>h4 {
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}

.pay>a {
    color: #5fabe2;
    transition: 200ms;
    font-weight: bold;
    display: none;
}

.pay>a:hover {
    color: #45a3e5;
}

.pay>a:active {
    color: #2d89ca;
}

.square-pay {
    background: #36126b;
    position: fixed;
    rotate: 45deg;
    width: 200px;
    height: 200px;
    top: -80px;
    left: -25px;
    box-shadow: 0 0px 50px 0px #170334;
}

.circle-pay {
    background: #36126b;
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 400px;
    left: 100px;
    box-shadow: 0 0px 50px 0px #170334;
}

.injection {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    z-index: 2;
}

.config {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 302px;
    height: 550px;
    left: 5px;
    top: 5px;
    z-index: 2;
    background: #0000007e;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: solid #fff 2px;
}

.top {
    display: flex;
    background-color: #754bb8ad;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0px #542a97ad;
    justify-content: space-between;
}

.top>h1 {
    width: 50%;
    margin: 0;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
}

.close {
    fill: white;
    float: right;
    position: relative;
    padding-top: 10px;
    transition: 300ms;
}

.close:hover {
    fill: #cc9999;
}

.openai {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.openai>h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.openaikeyinput {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    min-height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 10px 20px -18px;
    transition: 200ms;
}

.openaikeyinput:focus {
    border-bottom: 2px solid #9d86c3;
}

.openaikeyinput:hover {
    outline: 1px solid lightgrey;
}

.cache {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.cache>h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.config>div>h3>span {
    font-size: 10px;
    margin: 0;
    color: #9d86c3;
}

.togglechoice {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.togglechoice>h3 {
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.togglechoice:hover .tooltiptext {
    animation: fadein 500ms;
    opacity: 1;
}


.togglechoice:hover .tooltiptext {
    animation: fadein 500ms;
    opacity: 1;
}

.toggletext {
    position: relative;
    display: inline-block;
}

.highlighttext .tooltiptext {
    top: 175px;
}

.importtext .tooltiptext {
    top: 255px;
}

.answertext .tooltiptext {
    top: 335px;
}

.tooltiptext {
    opacity: 0;
    width: 200px;
    background-color: black;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: fixed;
    z-index: 1;
    transition: 100ms;
    animation: fadeout 250ms;
    left: 75px;
    top: 25px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.chkbox {
    margin-top: 5px;
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 3px solid #ffffff00;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
}

.chkbox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: relative;
    transform: rotateZ(45deg);
    z-index: 100;
}

.chkbox input[type=checkbox]:checked+div {
    left: -10px;
    top: -10px;
}

.chkbox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

.save {
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
    background-color: #826ca4;
    color: #ffffff;
    font-weight: bold;
    transition: 500ms;
    position: fixed;
    top: 400px;
    left: 20px;
}

.save:hover {
    background-color: #8874ac;
    box-shadow: 0 0 20px #c1b7d450;
}

.save:active {
    background-color: #542c84;
    transition: 250ms;
    box-shadow: none;
}

.text>* {
    margin: 0;
}

#KahootGPT {
    position: relative;
    cursor: pointer;
    color: #b7b7b7;
    text-decoration: none;
    z-index: 1;
}

.subtitle {
    color: #E8E8E8;
}

.subtitle>a {
    color: #9d86c3;
    text-decoration: none;
    transition: 100ms;
}

.subtitle>a:hover {
    text-decoration: underline;
}

.subtitle>a:active {
    color: #8871ad;
}

.header {
    position: fixed;
    left: 0px;
    top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    margin-left: 10px;
    fill: white;
    cursor: pointer;
    transition: 200ms;
}

.info:hover {
    fill: lightgray;
}

.settings {
    margin-right: 10px;
    fill: white;
    cursor: pointer;
    transition: 200ms;
}

.settings:hover {
    fill: lightgray;
}

.container {
    width: 300px;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.autoclick {
    width: 100px;
    margin: auto;
}

.toggle {
    display: grid;
    align-items: center;
    background-color: #525252;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 300ms;
}

.checkbox {
    display: grid;
    align-items: center;
    border: none;
    margin: auto;
    padding: none;
    background-color: #525252;
    box-shadow: 0 4px 4px -2px #000;
    width: 90;
    height: 90%;
    border-radius: 50%;
    cursor: pointer;
}

.checkbox:hover .power-icon {
    fill: #8871ad;
    filter: drop-shadow(0px 0px 3px #8871ade7);
}

.power-icon {
    width: 19px;
    height: 19px;
    align-items: center;
    margin: auto;
    fill: #b7b7b7;
    transition: 200ms;
}

#autoclick-status {
    font-weight: 50rem;
    font-size: x-small;
}

.question-cont {
    border-radius: 20px;
    width: 250px;
    height: 35px;
    background-color: white;
    margin: auto;
    box-shadow: 0 2px 10px -2px #fff;
    transition: 500ms;
    margin-bottom: 15px;
}

.question-cont:hover {
    box-shadow: none;
}

.question {
    transform: translateY(-29%);
    margin: 0;
    outline: none;
    border: none;
    padding: 10px;
    width: 75%;
    height: 100%;
    background: transparent;
}

.question::-webkit-scrollbar {
    width: 0px;
}

.search-icon {
    fill: #9d86c3;
    padding-top: 2px;
    cursor: pointer;
    transition: 200ms;
}

.search-icon:hover {
    scale: 1.15;
}

.options {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 145px 145px;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

.option {
    border-radius: 15px;
    transition: 450ms;
}

.option:hover {
    box-shadow: none;
}

.triangle {
    background-color: #ff3355;
    box-shadow: 0 5px 10px 0px #ff3355;
}

.rhombus {
    background-color: #45a3e5;
    box-shadow: 0 5px 10px 0px #45a3e5;
}

.circle {
    background-color: #eb670f;
    box-shadow: 0 5px 10px 0px #eb670f;
}

.square {
    background-color: #66bf39;
    box-shadow: 0 5px 10px 0px #66bf39;
}

.answer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: 200ms;
    scrollbar-width: none;
}

.answer::-webkit-scrollbar {
    width: 0px;
}

.answer::placeholder {
    color: #dbdbdb;
}

.answer:active {
    border: 5px white;
}

.clear {
    font-family: monospace, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    font-size: medium;
    background: #5b29a7;
    color: white;
    border-radius: 7px;
    border: none;
    outline: none;
    width: 100px;
    margin: 15px;
    box-shadow: 0 4px 10px -2px #5b29a7;
    transition: 150ms;
}

.clear:hover {
    box-shadow: none;
}

.clear:active {
    background: #3c1675;
}

.footer {
    height: 45px;
    width: 100%;
    background: #525252;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

.socials {
    background: #525252;
    box-shadow: 0 4px 4px -2px #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    border-radius: 20px;
    height: 35px;
    width: 290px;
    transition: 200ms;
}

.socials:hover {
    box-shadow: none;
}

.socials>a:hover {
    animation: rotate 250ms;
    transform: rotateZ(15deg) scale(1.25);
}

.social {
    cursor: pointer;
}

.social:not(:hover) {
    animation: rotate 250ms reverse;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(15deg) scale(1.25);
    }
}

.feeter {
    padding-top: 5px;
    bottom: 0px;
    font-size: 15px;
    transition: 500ms;
}

.feeter:hover {
    transform: scaleX(1.15);
}

.feeter>a {
    padding: 5px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.feeter>a:hover {
    text-decoration: underline;
}