body {
    margin: 0;
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    transition: color 500ms;
}

a {
    color: #008ad3;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    transition: 200ms ease-out;
}

.logo:hover {
    transform: scale(1.15);
}

.logo img {
    border-radius: 50%;
    height: 2.5rem;
    float: left;
    border: solid #fff 2px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    transition: 200ms ease-out;
}

header h1:hover {
    transform: scaleX(1.01);
}

header a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 0.5rem;
    transition: 200ms ease-out;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

nav ul li:hover {
    transform: translateY(-0.2rem) skewY(2deg);
}

#please-read {
    background-color: #FFF59D;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

#please-read h2 {
    margin-bottom: 0.5rem;
}

#please-read p {
    margin-bottom: 0;
}

hr {
    margin: 0px;
}

forward {
    justify-content: space-evenly;
    display: flex;
    background: #00000081;
    padding: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* ui verse start */

.button {
    display: inline-flex;
    margin: 0;
    height: 100%;
    padding: 0.5rem 1.4rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all 300ms ease;
}

.button svg {
    height: 24px;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

/* ui verse end */

main {
    padding: 2rem 0;
}

main h2 {
    background: #0a2a4e;
    color: #fff;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.section-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 3rem;
}

section h2 {
    margin-top: 0;
}

.copy-link {
    border: none;
    outline: none;
    background: transparent;
    color: #6c7993;
    display: inline-block;
    font-size: 1.5rem;
    transition: 200ms;
    cursor: pointer;
}

section h2:hover .copy-link {
    color: gainsboro;
}

section p,
li {
    font-size: 1.1rem;
    line-height: 1.5;
}

#totop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, #7D43A1, #C6426E);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 200ms;
}

#totop:hover {
    box-shadow: none;
}

#totop:hover svg {
    transform: translateY(-0.25rem);
}

#totop svg {
    width: 2rem;
    height: 2rem;
    fill: #fff;
    transition: 200ms ease-out;
}

#promo {
    border-radius: 1rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid #000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 200ms;
}

#promo:hover {
    box-shadow: none;
}

#promo a {
    text-decoration: none;
    padding: 0.25rem;
}

.fab {
    transition: 200ms ease-out;
}

.fab:hover {
    transform: translateY(-0.5rem);
}

footer {
    background-color: #F5F5F5;
    padding: 1rem;
    text-align: center;
}

footer p {
    margin: auto;
    margin: 2rem;
}

@media screen and (max-width: 1080px) {
    header h1 {
        font-size: 5rem;
    }

    .copy-link,
    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    p,
    li,
    i {
        font-size: 2.1rem !important;
    }

    .logo img {
        height: 4rem;
    }

    nav ul li a {
        font-size: 4rem;
    }

    nav ul li {
        height: 3.5rem;
        width: 100%;
        text-align: center;
        padding-bottom: 0.1rem;
    }

    nav ul {
        display: grid;
        grid-column: 1;
        background: #333;
        place-items: center;
        border-bottom-left-radius: 1rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    nav {
        display: none;
    }

    .show {
        display: grid;
        position: fixed;
        right: 0px;
        top: 8rem;
        width: 30rem;
        height: 50vh;
        animation: 300ms fade;
    }

    .menu-toggle {
        display: block;
        border: none;
        outline: none;
        color: #fff;
        background: transparent;
        font-size: 4rem;
        cursor: pointer;
    }

    header,
    #please-read,
    forward {
        width: 100%;
    }

    forward {
        display: grid;
        columns: 1;
        place-items: center;
    }

    .button {
        height: 5rem;
        width: 100%;
        margin: 0.5rem;
        font-size: 3rem;
    }

    .button svg {
        transform: scale(2);
        margin-right: 0.5rem;
    }

    #totop {
        width: 8rem;
        height: 8rem;
    }

    #totop svg {
        width: 4rem;
        height: 4rem;
    }

    #promo {
        border-radius: 2rem;
    }

    .fab {
        font-size: 6rem !important;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}