html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

a {
    color: #008ad3;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 50px;
    box-shadow: 0 2px 4px #0000001a;
}

.logo {
    transition: 200ms ease-out;
    z-index: 1;
}

.logo:hover {
    transform: scale(1.15);
}

.logo>a>img {
    border-radius: 50%;
    height: 40px;
    float: left;
    border: solid #fff 2px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-container>h1 {
    margin: 0;
    font-size: 40px;
    transition: 200ms ease-out;
}

.header-container>h1:hover {
    transform: scale(1.1);
}

.header-container a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    display: none;
    font-size: 25px;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    z-index: 1;
}

.nav {
    gap: 15px;
    display: flex;
}

.nav>a {
    display: block;
    transition: 200ms;
    font-size: 18px;
}

.nav>a:hover {
    transform: translateY(-3px) scale(1.1);
}

#please-read,
#disclaimer {
    padding: 16px;
    box-shadow: 0 8px 16px #00000033;
}

#please-read>h2,
#disclaimer>h2 {
    margin-bottom: 8px;
}

#please-read>p,
#disclaimer>p {
    margin-bottom: 0;
}

#please-read {
    background-color: #FFF59D
}

#disclaimer {
    background-color: #ab78f8;
    margin-bottom: 0;
}

hr {
    margin: 0px;
}

.forward {
    justify-content: space-evenly;
    display: flex;
    background: #00000081;
    padding: 15px;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
}

.button {
    display: inline-flex;
    margin: 0;
    height: 100%;
    padding: 8px 22px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #00000040;
    gap: 12px;
    color: #413f3f;
    background-color: #fff;
    cursor: pointer;
    transition: all 300ms ease;
}

.button>svg {
    height: 24px;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

main {
    padding: 32px 0;
}

section {
    margin-bottom: 48px;
}

.section-container {
    width: calc(100% - 32px);
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
}

.section-container>h2 {
    margin-top: 0;
    background: #0a2a4e;
    color: #fff;
    padding: 8px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.copy-link {
    border: none;
    outline: none;
    background: transparent;
    color: #6c7993;
    display: inline-block;
    font-size: 24px;
    transition: 200ms;
    cursor: pointer;
}

.section-container>h2:hover>.copy-link {
    color: #545963;
}

section p,
li {
    font-size: 18px;
    line-height: 1.5;
}

#totop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #441090;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px #00000033;
    transition: 200ms;
}

#totop:hover {
    box-shadow: none;
}

#totop:hover>svg {
    transform: translateY(-4px);
}

#totop>svg {
    width: 32px;
    height: 32px;
    fill: #fff;
    transition: 200ms ease-out;
}

#promo {
    border-radius: 16px;
    position: fixed;
    bottom: 15px;
    left: 15px;
    padding: 8px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0 8px 16px #00000033;
    transition: 200ms;
}

#promo:hover {
    box-shadow: none;
}

#promo>a {
    text-decoration: none;
    padding: 4px;
}

#promo>a>i {
    font-size: 35px;
}

.fab {
    transition: 200ms ease-out;
}

.fab:hover {
    transform: translateY(-8px);
}

@media only screen and (max-width: 1250px) {
    .header-container>h1 {
        width: 100%;
        text-align: center;
    }

    .menu-toggle {
        width: 35px;
        display: block;
    }

    .nav {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 80px;
        padding: 15px;
        padding-top: 0;
        border-radius: 5px;
        flex-direction: column;
        gap: 20px;
        background: #333;
        transition: 200ms;
    }

    .nav.show {
        visibility: visible;
        opacity: 1;
    }

    .nav>a {
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .forward {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .forward>a {
        width: 100%;
    }

    .forward>a>button {
        width: 100%;
        justify-content: center;
    }

    .button:hover {
        transform: scale(1.02);
    }

    .button:active {
        transform: scale(0.98);
    }
}