.loader {
    margin-left: 15px;
    margin-right: 25px;
    width: 3rem;
    height: 3rem;
    position: relative;
    animation: spin 2s linear infinite;
}

.loader .dot {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #c4c4c4;
    border-radius: 50%;
    position: absolute;
}

.loader .dot:nth-child(1) {
    top: 0;
    left: 0;
    background: #ff3355;
}

.loader .dot:nth-child(2) {
    top: 0;
    right: 0;
    background: #45a3e5;
}

.loader .dot:nth-child(3) {
    bottom: 0;
    left: 0;
    background: #eb670f;
}

.loader .dot:nth-child(4) {
    bottom: 0;
    right: 0;
    background: #66bf39;
}

@keyframes spin {

    0%,
    20% {
        transform: scale(1) rotate(0);
    }

    20%,
    45% {
        transform: scale(1.3) rotate(90deg);
    }

    45%,
    70% {
        transform: scale(1) rotate(180deg);
    }

    70%,
    95% {
        transform: scale(1.3) rotate(270deg);
    }

    95%,
    100% {
        transform: scale(1) rotate(360deg);
    }
}